@charset "UTF-8";

$viewport30em: 30em;
$viewport48em: 48em;
$viewportTB: 768px;
$viewportPC: 1024px;

@import "parts/_container.scss";
@import "parts/_header.scss";
@import "parts/_navigation.scss";
@import "parts/_entry.scss";
